body{
  font-family: sans-serif;
}

form > p {
  display: inline;
}
input[type="button"] {
  margin-top: 25px;
  display: block;
}



div {
  width: 400px;
  float: left;  
}

div > h2 {
  margin-left: 40%;
  margin-right: 40%; 
}

div > dl, button {
  margin-left: 10%;
  margin-right: 30%;
}

div + div {
  padding-left: 75px;
}